<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <a class="navbar-brand font-weight-bold text-muted" href="#">
                    <img src="/assets/img/usa logo.svg" alt="" width="35" height="35">
                    US MARINE</a>
            </div>

            <div class="col">
                <sp class="text-muted font-weight-bold">&copy;  2022</sp>
                <a class="navbar-brand font-weight-bold text-muted" href="#">
                    <img src="/assets/img/usa logo.svg" alt="" width="35" height="35"></a>
            </div>
        </div>
       
    </div>
</footer>